<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Cinzel+Decorative:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../style/styles.css" />
        <title>H.P. Lovecraft</title>
    </head>
    <body class="tribute-body">
        <main class="tribute-main">
            <section class="hero-container">
                <figure class="image-container">
                    <img src="http://imgfz.com/i/qbIQA9Z.jpeg" alt="background-image">
                </figure>
                <article>
                    <h1></h1>
                    <p></p>
                </article>
            </section>
        </main>
    </body>
</html>